<p id="notice"><%= notice %></p>
<div class="product-main-area mb-70">
  <div class="container">
    <div class="row">

        <div class="col-lg-12">
          <div class="login-title text-center mb-30">
            <h2>¿Cómo funciona?</h2>
          </div>
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="cart-main-area mb-70">
                      <div class="container">

                        <div class="row">
                          <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="text-left mb-30">
                                  <p>Líbrate.cl es la primera plataforma chilena dedicada exclusivamente a la venta de libros de editoriales independientes. Somos un espacio de acercamiento entre las editoriales independiente chilenas y los lectores. </p>
                                  <p> De alguna manera, funcionamos igual que una feria del libro: si eres una editorial (o un autor autopublicado), pagas sólo una inscripcion anual por el espacio y con esa inscripción puedes subir y vender todos los libros que quieras, sin sorpresas y sin comisiones.
                                  Si eres lector, tendrás la posibilidad de acceder a libros con descuentos exclusivos, pues, al eliminar a las librerías y a los distribuidores de la ecuasión, las editoriales pueden ofrecer sus libros a precios mucho más bajos.</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-12">
                          <div class="login-title text-left mb-30">
                            <h4>Beneficios</h4>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <form action="#">
                              <div class="table-content table-responsive">
                                <table>
                                  <thead>
                                    <tr>
                                      <th class="product-thumbnail">Para los lectores</th>
                                      <th class="product-name">Para las editoriales</th>
                                    </tr>
                                  </thead>
                                  <tbody>

                                        <tr>
                                            <td class="text-left">
                                              <ul>
                                                <li><i class="fa fa-star"></i> Encontrarás descuentos de hasta el 40% respecto al precio de librerías</li>
                                                <li><i class="fa fa-star"></i> Descubrirás libros que quizá no hubieras visto en una librería tradicional </li>
                                                <li><i class="fa fa-star"></i> Tendrás control sobre cómo quieres recibir los libros </li>
                                                <li><i class="fa fa-star"></i> Tendrás la posibilidad de recoger los libros y así pagar $0 por el despacho </li>
                                                <li><i class="fa fa-star"></i> Pagarás el despacho cuando te lleguen los libros. Así, nunca pagas demás en despacho.  </li>
                                              </ul>
                                            </td>
                                            <td class="text-left">
                                              <ul>
                                                <li><i class="fa fa-star"></i>  Podrás vender libros sin tener que pagar las grandes comisiones que se llevan librerías y distribuidores </li>
                                                <li><i class="fa fa-star"></i>  Con sólo una membresía anual puedes subir y vender cuantos libros quieras</li>
                                                <li><i class="fa fa-star"></i>  Tendrás una página de venta exclusiva para tu editorial. Te daremos la URL para que la puedas vincular desde tu propia página web.</li>
                                                <li><i class="fa fa-star"></i>  Promocionaremos tus novedades a través de nuestras redes sociales</li>
                                                <li><i class="fa fa-star"></i>  Tendrás un mayor vínculo con los lectores y tus libros tendrán más posibilidades de ser descubiertos</li>
                                              </ul>
                                            </td>

                                         </tr>

                                  </tbody>
                                </table>
                              </div>
                            </form>
                          </div>
                        </div>

                        <div class="col-lg-12">
                          <div class="login-title text-left mb-30">
                            <h4>Paso a paso</h4>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                            <div class="product-info-area">

                                  <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#Lectores" data-toggle="tab">Lectores</a></li>
                                    <li><a href="#Editoriales" data-toggle="tab">Editoriales</a></li>
                                  </ul>
                                  <div class="tab-content">
                                      <div class="tab-pane active" id="Lectores">
                                          <div class="valu text-left">

                                            <ul>
                                              <li> <i class="fa fa-star"></i>Regístrate en la página.</li>
                                              <li> <i class="fa fa-star"></i>Explora nuestros libros y agrega los que te gusten a tu carrito. </li>
                                              <li> <i class="fa fa-star"></i>Selecciona tu dirección de envío. </li>
                                              <li> <i class="fa fa-star"></i>Revisa tu carrito. Al lado de cada libro, tendrás dos opciones: recoger el libro (se te indicará la dirección de entrega) o que te envíen el libro a tu casa. </li>
                                              <li> <i class="fa fa-star"></i>Paga tu pedido a través de Paypal. </li>
                                              <li> <i class="fa fa-star"></i>Si seleccionaste "Recoger el libro", le daremos tu correo a la editorial para que coordinen la entrega. </li>
                                              <li> <i class="fa fa-star"></i>Si seleccionaste "Enviarme el libro", la editorial te enviará el libro por pagar a través de Starken. Es decir, pagas el envío cuando te llegue a tu casa. </li>
                                              <li> <i class="fa fa-star"></i>El envío de cada libro en tu carrito funciona de manera independiente. Así, si te conviene ir a buscar un libro a una editorial, pero otra editorial te queda muy lejos, puedes seleccionar tipos de envío distintos para cada libro. </li>
                                              <li> <i class="fa fa-star"></i>Si quieres calcular cuánto te saldrá el envío, ingresa a la página de Starken. (En promedio, un libro pesa 250grs.) </li>
                                              <li> <i class="fa fa-star"></i>En el caso que dos o más libros de tu carrito pertenezcan a la misma editorial, estos se enviarán juntos y por tanto el envío te saldrá más barato. (Pagarás por un solo paquete, en lugar de por dos paquetes distintos).</li>
                                              <li> <i class="fa fa-star"></i>Si el libro no te llega en 20 días, tienes 10 días para contactarte con nosotros y presentar un reclamo. (Es decir, puedes presentar el reclamo entre el día 20 y el día 30). Si la editorial no puede comprobar que ha enviado el libro, te devolveremos tu dinero.  </li>
                                              <li> <i class="fa fa-star"></i>Si han pasado 30 días desde la compra y no hemos sabido nada de ti, asumiremos que te llegó el libro. Recuerda que siempre tienes la posibilidad de dejar comentarios tanto en la página del libro como la de la editorial para que otros conozcan tu experiencia. </li>
                                            </ul>

                                           </div>
                                      </div>
                                       <div class="tab-pane" id="Editoriales">
                                            <div class="valu text-left">
                                              <ul>
                                                <li> <i class="fa fa-star"></i> Regístrate en la página.</li>
                                                <li> <i class="fa fa-star"></i> Paga tu membresía anual a través de Paypal, depósito/transferencia bancaria o Mach.</li>
                                                <li> <i class="fa fa-star"></i> Sube todos los libros que quieras. </li>
                                                <li> <i class="fa fa-star"></i> Al registrarte, deberás indicar una dirección donde los lectores pueden ir a buscar sus libros. (Si no tienes una oficina puede ser, por ejemplo, una estación de metro).</li>
                                                <li> <i class="fa fa-star"></i> Cuando un lector compre uno de tus libros, te llegará un correo indicándote el método de envío elegido. Hay dos opciones: que el lector recoja el libro en la dirección que indicaste en tu registro, o que le envíes el libro al lector a su casa. </li>
                                                <li> <i class="fa fa-star"></i> En el caso que el lector haya elegido recoger el libro, te daremos su correo para coordinar la entrega. </li>
                                                <li> <i class="fa fa-star"></i> En el caso que el lector haya elegido que el libro se le envíe a su casa, deberás enviarlo por pagar a través de Starken. (Es decir, el envío lo pagará el lector una vez que le llegue el libro. Si es más de un libro, te pedimos que lo envíes en un sólo paquete para abaratarle costos al lector.)</li>
                                                <li> <i class="fa fa-star"></i> Recuerda que tú eres el responsable de cumplir con las obligaciones de venta de tus libros ante el Servicio de Impuestos Internos. Por tanto, debes enviar la boleta correspondiente con el envío de tus libros (o entregarla, en el caso que el lector haya elegido recoger el libro en persona).</li>
                                                <li> <i class="fa fa-star"></i> Debes intentar enviar el libro cuanto antes. Si el libro no le ha llegado al lector en 20 días, este podrá presentar un reclamo y deberás comprobar que lo enviaste. (Te recomendamos que guardes los comprobantes de envío de Starken por 30 días.)</li>
                                                <li> <i class="fa fa-star"></i> Tu pago será retenido por 30 días. Si a los 30 días no hemos recibido un reclamo del lector, asumiremos que el libro le llegó y te depositaremos lo que te corresponde por la venta de los libros. </li>
                                              </ul>

                                            </div>
                                      </div>
                                  </div>
                            </div>
                          </div>
                       </div>

                      </div>
                    </div>
        </div>
            <%= render 'layouts/sidepanel' %>


    </div>
  </div>
</div
