<p id="notice"><%= notice %></p>
<div class="product-main-area mb-70">
  <div class="container">
    <div class="row">

        <div class="col-lg-12">
          <div class="login-title text-center mb-30">
            <h2>Preguntas frecuentes</h2>
          </div>
        </div>

        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="cart-main-area mb-70">
                      <div class="container">

                        <div class="row">
                          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                            <div class="product-info-area">

                                  <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#Lectores" data-toggle="tab">Lectores</a></li>
                                    <li><a href="#Editoriales" data-toggle="tab">Editoriales</a></li>
                                  </ul>
                                  <div class="tab-content">
                                      <div class="tab-pane active" id="Lectores">
                                          <div class="valu text-left">

                                            <ul>
                                              <li> <i class="fa fa-star"></i><strong>¿Qué es una editorial independiente?</strong></li>
                                              <li>Blablabla </li>
                                              <li> <i class="fa fa-star"></i><strong>¿Qué hago si no me llega un libro?</strong></li>
                                              <li>Si han pasado 20 días desde que pagaste tu pedido y aún no te llega el libro, tienes 10 días para contactarte con nosotros y presentar un reclamo. Le pediremos a la editorial que clarifique la situación y, en el caso que no pueda comprobar que ha enviado el libro, te devolveremos tu dinero. </li>
                                              <li> <i class="fa fa-star"></i><strong>¿Por qué tengo que elegir el envío para cada libro si están todos en un mismo pedido?</strong></li>
                                              <li>Blablabla </li>
                                              <li> <i class="fa fa-star"></i><strong>¿Qué pasa si no puedo coordinarme nunca con la editorial para recoger el libro?</strong></li>
                                              <li>Blablabla </li>
                                              <li> <i class="fa fa-star"></i><strong>¿Venden ebooks?</strong></li>
                                              <li>Blablabla </li>
                                              <li> <i class="fa fa-star"></i><strong>¿Qué puedo hacer si se me pasó el plazo para presentar un reclamo?</strong></li>
                                              <li>Blablabla </li>
                                              <li> <i class="fa fa-star"></i><strong>¿Por qué debería usar líbrate.cl en lugar de comprar en una librería?</strong></li>
                                              <li>Blablabla </li>
                                              <li> <i class="fa fa-star"></i><strong>¿Cómo puedo actualizar mi email y contraseña?</strong></li>
                                              <li>Blablabla </li>
                                              <li> <i class="fa fa-star"></i><strong>¿Qué hago si no recibí una boleta junto con mis libros?</strong></li>
                                              <li>Blablabla </li>
                                            </ul>

                                           </div>
                                      </div>
                                       <div class="tab-pane" id="Editoriales">
                                            <div class="valu text-left">
                                              <ul>
                                                <li> <i class="fa fa-star"></i><strong>¿Por qué líbrate.cl es sólo para editoriales independientes?</strong></li>
                                                <li>Blablabla </li>
                                                <li> <i class="fa fa-star"></i><strong>¿Cómo subo un libro?</strong></li>
                                                <li>Si han pasado 20 días desde que pagaste tu pedido y aún no te llega el libro, tienes 10 días para contactarte con nosotros y presentar un reclamo. Le pediremos a la editorial que clarifique la situación y, en el caso que no pueda comprobar que ha enviado el libro, te devolveremos tu dinero. </li>
                                                <li> <i class="fa fa-star"></i><strong>¿Qué incluye la membresía?</strong></li>
                                                <li>Blablabla </li>
                                                <li> <i class="fa fa-star"></i><strong>¿Cuál es mi tienda exclusiva?</strong></li>
                                                <li>Blablabla </li>
                                                <li> <i class="fa fa-star"></i><strong>¿Cómo puedo actualizar mi información de facturación, pago y redes sociales?</strong></li>
                                                <li>Blablabla </li>
                                                <li> <i class="fa fa-star"></i><strong>¿Cómo puedo actualizar mi email y contraseña?</strong></li>
                                                <li>Blablabla </li>
                                                <li> <i class="fa fa-star"></i><strong>¿Puedo vender ebooks?</strong></li>
                                                <li>Blablabla </li>
                                                <li> <i class="fa fa-star"></i><strong>¿Cómo les envío la información de una novedad para que la promocionen en redes sociales?</strong></li>
                                                <li>Blablabla </li>
                                                <li> <i class="fa fa-star"></i><strong>¿Qué pasa si tengo un contrato con un distribuidor?</strong></li>
                                                <li>Blablabla </li>
                                                <li> <i class="fa fa-star"></i><strong>¿Cómo se gestionan las obligaciones requeridas por el Servicio de impuestos internos?</strong></li>
                                                <li>Blablabla </li>
                                              </ul>

                                            </div>
                                      </div>
                                  </div>
                            </div>
                          </div>
                       </div>

                      </div>
                    </div>
        </div>
            <%= render 'layouts/sidepanel' %>


    </div>
  </div>
</div
