<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @address.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>


<%= link_to 'Editar', edit_address_path(@address) %> |
