<p>¡Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te escribimos para contarte que tu correo electrónico se está cambiando a: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te escribimos para contarte que tu correo electrónico se ha cambiado a: <%= @resource.email %>.</p>
<% end %>
