<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado cambiar la contraseña de tu cuenta en Líbrate. Lo puedes hacer a través del siguiente email.</p>

<%#= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste un cambio, por favor ignora este correo.</p>
<p>Tu contraseña no cambiará hasta que ingreses al vínculo y crees una nueva. </p>
