<p>¡Hola <%= @resource.email %>!</p>

<p>Tu cuenta de Líbrate ha sido bloqueada por que te equivocaste de contraseña demasiadas veces. </p>

<p>Haz click en este link para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
